html, body{
  width: 100%;
  overflow: hidden;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.float-block{
  background:white;
  border:1px solid black;
  width:32.33333333%;
  height: 170px;
  float:left;
}
